@font-face {
  src : url('../customfonts/Catamaran-Tamil-master/Fonts/Catamaran-Thin.ttf');
  font-family: catamaran-thin;
}

.myFeature{
  margin-top: 8em;
  margin-bottom: 3em;
}

.myFeature h2{
  font-size : 3.5em;
  font-weight: 200;
  letter-spacing: 1px;
  font-family: catamaran-thin;
  color : #000;
}

.mobileImg1{
    margin-left: 2px;
    margin-top: 4em;
    border-radius: 5px;
}

p{
    color: #6c757d;
    font-size: 18px;
    line-height: 1.5;
}

.fa-9x{
  font-size: 9em;
  color: #7b4397;
}
