.navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    letter-spacing: 8px;
}

.navbar-default {
    background:transparent;
	color:transparent;
    border:transparent;
}

.navbar-default .navbar-brand {
    color: #000;
}

.navbar-default .navbar-nav>.active>a{
	color:#000;
	background:transparent;
}

.navbar-default .navbar-nav>.active>a:hover{
	color:#000;
	background:transparent;
}

.navbar-default .navbar-nav>li>a {
     color: #000; 
}

.navbar-nav {
    float: left;
    margin: 0;
    letter-spacing: 2px;
    font-size: 18px;
}


#main{
	background-image:url("../image/architect.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
    height:700px;	
}


.mytext{
	padding-top:10em;
	text-align:center;
	letter-spacing:3px;
	color:#fff;	
}

.navbar-default .navbar-brand:hover {
	color:#000;
    background-color: transparent;
}

.w3-black{
	background:#000;
	opacity:0.75;
	padding:10px;
}

.w3-white{
	padding-left:8px;
}

.bg-white{
	background:#fff;
}

#project{
	padding-top:5em;
}

.pic-com{
	background-repeat:no-repeat;
	background-size:cover;
	margin-top:1em;
	height:200px;	
}

.p1{
	background-image:url("../image/house2.jpg");
}

.p2{
	background-image:url("../image/house3.jpg");
}

.p3{
	background-image:url("../image/house4.jpg");
}

.p4{
	background-image:url("../image/house5.jpg");
}

.mybg{
	background:rgba(0,0,0,0.75);
	color:#fff;
	width:45%;
	padding:5px;
}

.mybg h4{
	text-align:center;
}

#about{
	padding-top:6em;
}

p{
	font-size:15px;
}

#contact{
	padding-top:6em;
}

.bg-dark{
	background:#000;
	color:#fff;
}